{% extends 'account/base.html' %}
{% load i18n %}
{% load account %}
{% load url from future %}
{% load static %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
<h1>Change Password</h1>

<form method="POST" action=".">
    {% csrf_token %}

    <input id="id_password1" class="form-control"  type="password" autofocus="autofocus" required=""
        name="password1" placeholder="password" />

    {{form.password1.errors}}

    <input id="id_password2" class="form-control"  type="password" autofocus="autofocus" required=""
        name="password2" placeholder="password again" />

    {{form.password2.errors}}

    <button class="primaryAction btn btn-lg btn-primary btn-block" type="submit">{% trans "Change Password" %}</button>
</form>
{% endblock %}
