{% extends 'base.html' %}
{% load staticfiles %}
{% load django_tracker_tags %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="{% static 'django_tracker/django_tracker.css' %}">
{% endblock extra_css %}

{% block content %}
    <div class="container">
        <h1>Tracker Stats</h1>
        {% include 'django_tracker/selector_include.html' %}
        <a href="{{ as_histogram_url }}">as histogram</a>

        <table>
            <thead>
                <tr>
                    <th>Datetime</th>
                    <th>URL</th>
                    <th>User</th>
                    <th>IP Address</th>
                    {% if geo_locate %}
                        <th>Location</th>
                    {% endif %}
                </tr>
            </thead>

            <tbody>
                {% for row in data %}
                    <tr>
                        <td>{{ row.datetime }}</td>
                        <td>{{ row.url }}</td>
                        <td>{{ row.email }}</td>
                        <td>{{ row.ip }}</td>
                        {% if geo_locate %}
                            <td>{% geo_locate row.ip %}</td>
                        {% endif %}
                    </tr>
                    {% empty %}
                    <tr>
                        {% if geo_locate %}
                            <td colspan="5">No data</td>
                        {% else %}
                            <td colspan="4">No data</td>
                        {% endif %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock content %}